* {
	margin: 0;
	padding: 0;
}

 /* Prevents the scroll bar from interferring with the "About" tab. */
::-webkit-scrollbar {
    display: none; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background-color: black
}

/* Start of header. */
header {
  overflow: hidden;
  background-color: black;
  border-bottom: 2px solid darkgrey;
}

header a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  border-left: 1px solid darkgrey;
}

#title:hover {
  animation: animate_title 2.5s linear infinite;
}

@keyframes animate_title {
	50% { background-color: goldenrod; }
}

#about:hover {
  animation: animate_about 2.5s linear infinite;
}

@keyframes animate_about {
	50% { background-color: grey; }
}

#title {
  float: left;
  border-left: none;
  border-right: 1px solid darkgrey;
}

#about-description {
	background-color: darkgrey;
	display: none;
	padding: 2em 1em;
	overflow: hidden;
}
/* End of header. */

/* Start of Main. */
main {
	background: linear-gradient(gray, white);
	padding: 5rem 0rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	text-align: center;
}

#equations, form, #results {
	height: 100%;
	width: 100%;
}

#submit:hover, #clear:hover {
	cursor: pointer;
}

#submit {
	margin-right: 10%;
}

#clear {
	margin-left: 10%;
}
/* End of Main */


/* Start of footer. */
footer {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
}

#contact-title {
  padding: 0;
  margin-top: 20px;
}

h2 {
  display: inline-block;
  border-bottom: goldenrod 2px solid;
}

.link {
  display: inline-block;
  text-align: center;
  padding: 2em;
}

.link a:hover {
  animation: animateIcons 2s linear infinite;
}

@keyframes animateIcons {
  50% {color: goldenrod;}
}

footer a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

footer a p {
	margin-top: 1em;
}
/* End of footer. */